.logo {
	float: left;
}
.navigation {
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	color: grey;
	font-weight: bold;

}
.nav-li {
	float: left;
	margin-right: 50px;
}
.clear {
	clear: both;
}
.header-wraper {
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
}
body {
	width: 1600px;
}
.section-1 {
	margin-top: 155px;
}
.picture-wraper {
	position: relative;
}
.paragrap-text {
	position: absolute;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-left: 20px;
}
/*section2*/
.section-2 {
	width: 100%;
	margin: 0 auto;
}
h3 {
	color: orange;
	font-size: 22px;
	margin-left: 170px;
	margin-top: 80px;
	margin-left: 80px;
}
h4 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 20px;
}
.top-left {
	float: left;
	width: 636px;
	height: 672px;
	margin-left: 130px;
}
.top-right {
	float: right;
	width: 636px;
	height: 672px;
	margin-right: 130px;
}
.bottom-left {
	float: left;
	width: 636px;
	height: 672px;
	margin-left: 130px;
}
.bottom-right {
	float: right;
	width: 636px;
	height: 672px;
	margin-right: 130px;
}
.conteiner {
	width: 100%px;
	margin: 0 auto;
}