.logo {
	float: left;
}
.navigation {
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	color: grey;
	font-weight: bold;

}
.nav-li {
	float: left;
	margin-right: 50px;
}
.clear {
	clear: both;
}
.header-wraper {
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 25;
}
body {
	width: 1600px;
}
.section-1 {
	margin-top: 155px;
}
.picture-wraper {
	position: relative;

}
.paragrap-text {
	position: absolute;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-left: 20px;
}
/*section2*/
.section-2 {
	width: 100%;
	margin: 0 auto;
}
h3 {
	color: orange;
	font-size: 22px;
	margin-left: 150px;
	margin-top: 80px;
	margin-bottom: 80px;
}
h4 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 20px;
}
.top-left {
	float: left;
	width: 636px;
	height: 672px;
	margin-left: 130px;
}
.top-right {
	float: right;
	width: 636px;
	height: 672px;
	margin-right: 130px;
}
.bottom-left {
	float: left;
	width: 636px;
	height: 672px;
	margin-left: 130px;
}
.bottom-right {
	float: right;
	width: 636px;
	height: 672px;
	margin-right: 130px;
}
.conteiner {
	width: 100%px;
	margin: 0 auto;
}
.text-readmore {
	color: orange;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.line {
	width: 47px;
	height: 4px;
	background-color: orange;
	float: left;
	margin-top: 5px;
	margin-left: 30px;
}
.box1 {
	margin:  0 auto;
	background-color: orange;
	width: 190px;
	height: 70px;
	border-radius: 5px;
	
}
.text2 {
	position: absolute;
	margin-left: 50px;

}
.clear {
	clear: both;
}
.box-wraper {
	position: relative;
}
.box2 {
	margin-top: 140px;
	margin-bottom: 100px;
	width: 1600px;
	height: 266px;
	background-color: #181C28;

}
.text3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.text4 {
	font-size: 16px;
	color: #7B7B7B;
	margin-bottom: 10px;
}
.textbox1 {
	float: left;
	margin-right: 30px;
	width: 190px;
	height: 210px;
	margin-left: 130px;
}
.textbox2 {
	float: left;
	margin-right: 30px;
	width: 190px;
	height: 210px;
	margin-left: 130px;
}
.textbox3 {
	float: left;
	margin-right: 30px;
	width: 190px;
	height: 210px;
	margin-left: 130px;
}
.textbox4 {
	float: left;
	margin-right: 30px;
	width: 190px;
	height: 210px;
	margin-left: 130px;
}
.box3 {
	font-size: 16px;
	color: #7B7B7B;
	margin-left:   1200px;
	margin-bottom: 150px;
}

.image-card {
	float: left;
	margin-right: 5px;
}